.showRequest {
    margin-top: 60px;
   
}

.formSubmit {

}
.formSubmit input {
    margin: 10px 0; /* Khoảng cách trên và dưới, không bên trái và phải */
    width: 100%; /* Đảm bảo ô input co giãn theo chiều ngang */
    padding: 10px; /* Thêm padding cho input */
    box-sizing: border-box; /* Bao gồm padding trong kích thước tổng thể */
}
.showsubmit {
    background-color: antiquewhite;
    margin-top: 10px;
    margin-left: -100px;
}
.showsubmit img{
    cursor: pointer;
}
.report-item{
    height: 55px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin:10px;
}
.containSubmit{
    display: flex;
}

.submitRequest{
    margin-left: -100px;
    margin-right: 250px;
}
.feedback{
    margin-top: 50px;
}