.createreport {
    margin-top: 4cm;
    margin-left: 5cm;
}
.full-width {
    width: 100%;
  }
/* .card-report {
    width: 900px;
    height: 600px;
    overflow: hidden;
    margin-left: 6cm;
    margin-top: 7cm;
}
.card-report h2 {
    text-align: center;
} */

